@import url('https://fonts.googleapis.com/css?family=Niramit:300,300i,500,700');

// reset some browser default styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

// colors
$primary: #1d8cf8;
$primary-light: #58a5fa;
$secondary: #4f537b;
$info: #11cdef;
$success: #00bf9a;
$warning: #ff8d72;
$danger: #fd5d93;

// timeline variables
$body-bg: #1e1e2f;
$timeline-before-bg : #222a42;
$timeline-body-bg: #27293d;
$timeline-body-round: 3px;
$timeline-body-shadow: 1px 3px 9px rgba(0,0,0, .1);

body {
  font-family: 'K2D', sans-serif;
  background: $body-bg;
  letter-spacing: 1px;
}

// typography
p, li {
  font-weight: 300;
  line-height: 1.5;
  font-size: 15px;
  opacity: .8;
}

li {
  margin-left: 0.5em;
}

h2 {
  margin-bottom: 0.5em;
}

p.self-description {
  font-weight: 500;
  font-size: 14px;
}

// page container
.main-content-container {
  display: flex;
}

.left-panel {
  background: $primary;
  padding: 20px;
  margin-right: 20px;
  color: white;
  text-align: center;
  width: clamp(300px, 400px, 500px);
}

.right-panel {
  margin: 0 auto;
}

.sticky-container {
  top: 20px;
  position: sticky;
}

.footer {
  padding-bottom: 4em;
}

.cv-section {
  max-width: 950px;
  margin-top: 1em;

  h1 {
    margin-bottom: 20px;
  }

  &:first-child {
    animation: fade-in 0.6s ease-in;
    opacity: 1;
  }
}

.section-break {
  width: 50%;
  margin: 20px auto;
  color: white;
  opacity: 30%;
  border: 0;
  border-top: 1px dashed #8c8c8c;
}

.selfie-image-container {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 2em;
}

.selfie-image {
  height: 100%;
  width: auto;
}

.link-icons {
  font-size: 25px;
  border-radius: 50%;
  padding: 5px;
  margin-top: 1em;
  &:hover {
    background-color: $primary-light
  }
}

.ability-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px 10px;
  grid-auto-rows: min-content;

  p {
    margin: 10px;
  }
}

.ability-badge {
  @extend .badge;
  background: $primary;
}

.badge {
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}

.timelime-section-container {
  max-width: 700px;
  margin: 50px auto;
}

// timeline style
.timeline {
  position: relative;
  padding-left: 4rem;
  margin: 0 0 0 30px;
  color: white;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background: $timeline-body-bg;
  }

  .timeline-container {
    position: relative;
    margin-bottom: 2.5rem;;

    .timeline-icon {
      position: absolute;
      left: -88px;
      top: 4px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-align: center;
      font-size: 2rem;
      background: $secondary;

      i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .timeline-body {
      background: $timeline-body-bg;
      border-radius: $timeline-body-round;
      padding: 20px 20px 15px;
      box-shadow: $timeline-body-shadow;

      &:before {
        content: '';
        background: inherit;
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        left: -10px;
        transform: rotate(45deg);
        border-radius: 0 0 0 2px;
      }

      .timeline-title {
        margin-bottom: 1.4rem;

      }

      .timeline-subtitle {
        font-weight: 300;
        font-style: italic;
        opacity: .4;
        margin-top: 16px;
        margin-bottom: 10px;
        font-size: 11px;
      }
    }

    // Primary Timeline
    &.primary {
      .badge,
      .timeline-icon {
        background: $primary !important;
      }
    }

    // Info Timeline
    &.info {
      .badge,
      .timeline-icon {
        background: $info !important;
      }
    }

    // Success Timeline
    &.success {
      .badge,
      .timeline-icon {
        background: $success !important;
      }
    }

    // Warning Timeline
    &.warning {
      .badge,
      .timeline-icon {
        background: $warning !important;
      }
    }

    // Dnager Timeline
    &.danger {
      .badge,
      .timeline-icon {
        background: $danger !important;
      }
    }

  }
}

// animations
.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 0.6s ease-in;
}

.active.fade-right {
  animation: fade-right 0.6s ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 1050px) {
  .main-content-container {
    flex-direction: column;
  }

  .active.fade-bottom {
    animation: initial;
  }

  .active.fade-right {
    animation: initial;
  }

  .left-panel {
    width: 100%;
  }

  .right-panel {
    margin: 0 1.5em;
  }

  .section-break {
    width: 70%;
  }

  .ability-container {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);

  p {
    margin: 10px;
  }
}
}